/dev/sda2	/media/root/main	ext4	defaults	0 0
/dev/sda1	/media/root/main/boot	ext2	defaults	0 1

# For help run:
# man fstab

# Removable file systems

/dev/cdrom /media/cdrom iso9660 ro,users,noauto 0 0
/dev/dvd /media/dvd udf ro,users,noauto 0 0
/dev/fd0 /media/floppy auto rw,users,noauto 0 0

