[Desktop Entry]
Comment=Watch videotext
Exec=/usr/bin/alevt
Icon=alevt
Name=AleVT
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
